

<div class="top-bar" (click)="navigateToCourses()">
  <img src="../assets/logo.png" alt="Logo de votre site">
</div>

<section class="background-section">
  <div class="overlay" *ngIf="this.state">
    <p>Improve your skills on your own<br>To prepare for a better future</p>
    <a href="#" class="btn">REGISTER NOW</a>
  </div>
</section>
<section *ngIf="this.state" class="courses-section">
    <p>Discover our courses</p>
    <a href="#" class="btn">View More</a>
  </section>
  <section class="courses-images" *ngIf="this.state">
   <app-course *ngFor="let course of tabCourses" [course]="course"></app-course>
  </section>
  <div class="courses-images" *ngIf="!this.state">
<app-manage  *ngFor="let course of tabCourses" [course]="course"></app-manage>
</div>
<section>
  <div class="contact-container">
      <h2>Contact Us</h2>
      <form action="#" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="email" placeholder="Email">
        <textarea name="message" placeholder="Message"></textarea>
        <button type="submit" class="btn-send">Send the message</button>
      </form>
    </div>
</section>
<router-outlet></router-outlet>
